<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jbd.ju2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.INTERNET" />

        <activity
            android:name=".MainActivity"
            android:label="@string/Events"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:label="Détails utilisateur"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".EventActivity"
            android:label="Détails évenement"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="Créer un événement"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SearchEventActivity"
            android:label="Chercher un évenement"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".YourProfilActivity"
            android:label="Ton profil"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="Evenements à venir"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>